<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    
</body>
<script>
    function initUserlogData() {

//重置分页组件否则保留上次查询的，一般来说很多问题出现与这三行代码有关如：虽然数据正确但是页码不对仍然为上一次查询出的一致

$('#pagination-log').empty();

$('#pagination-log').removeData("twbs-pagination");

$('#pagination-log').unbind("page");

//将页面的数据容器制空

$("#messagebody").empty();

//设置默认当前页

var pagenow = 1;

//设置默认总页数

var totalPage = 1;

//设置默认可见页数

var visiblecount = 5;

//加载后台数据页面

function loaddata() {

$.ajax({

url : "/tqyh/showUserloginfo",

type : "post",

data : {

"currentpage" : pagenow

},

dataType : "json",

success : function(data) {

var htmlobj = "";

totalPage = data.page.totalPage;//将后台数据复制给总页数

totalcount = data.page.totalCount;

$("#userlogbody").empty();

$.each(data.userlog, function(index, userlog) {

htmlobj = htmlobj + ""

+ "" + ""

+ userlog.toUserName + "" + ""

+ userlog.fromUserName + "" + ""

+ userlog.createTime + "" + ""

+ userlog.eventType + "" ;

if(userlog.eventType=="LOCATION"){

htmlobj = htmlobj + ""

+ " LOCATION ";

}else{

htmlobj = htmlobj +""+ userlog.details + "";

};

htmlobj = htmlobj + " ";

$("#userlogbody").append(htmlobj);

htmlobj = "";

});

//后台总页数与可见页数比较如果小于可见页数则可见页数设置为总页数，

if (totalPage < visiblecount) {

visiblecount = totalPage;

}

$('#pagination-log').twbsPagination({

totalPages : totalPage,

visiblePages : visiblecount,

version : '1.1',

//页面点击时触发事件

onPageClick : function(event, page) {

// 将当前页数重置为page

pagenow = page

//调用后台获取数据函数加载点击的页码数据

loaddata();

}

});

},

error : function(e) {

alert("s数据访问失败")

}

});

}

//函数初始化是调用内部函数

loaddata();

};

// 6.后台的json数据返回就行
</script>
</html>