{{define "page1/page1.html"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 管理系统大布局 - Layui</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="/static/layui/layui.js"></script>
  <script src="/static/js/jquery-3.6.0.min.js"></script>

</head>
<style>

  a:link {color:#000000;}       /* 未访问链接*/
  a:visited {color:#161616;}  /* 已访问链接 */
  a:hover {color:#535353;}   /* 鼠标移动到链接上 */
  a:hover{text-decoration:none;} 

  /* app图片 */
  img{ margin:18px 18px 18px 18px; width: 70px; height: 70px; border-radius:20px;}

  /* app名称 */
  #name{
    margin:0px 0px 0px 18px; 
    font-weight: 600;
    font-size: 0.38rem;
    cursor: pointer;/*鼠标变成手指样式*/
  }

  #item:hover {
    background-color: rgb(231, 231, 231); 
    transform: translate(0,-8px); 
  }

  /* app介绍 */
   #explain{
    margin:5px 0px 0px 18px;
    height: 45px;
    font-size: 0.28rem;
    overflow: hidden;  
    display: -webkit-box;  
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
  }

  /* app整体 */
  #item{
    border-radius: 10px;
  }


  /* 分类标签 */
  #category{
    background-color: rgb(255, 197, 36);
    border-radius:5px;
    float: left;
    font-size: 0.31rem;
    margin:13px 13px 13px 13px; 
  }

</style>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">Hia,Hia</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->

    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>
    </ul>

    <!-- 用户 -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="" class="layui-nav-img">
          用户名称
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">个人信息</a></dd>
          <dd><a href="">退出</a></dd>
        </dl>
      </li>

      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!--主页 -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">首页</a>
          <!-- 分类内容 -->
          <dl id="PageClass" class="layui-nav-child"></dl>
        </li>

        <!-- 社区 -->
        <li class="layui-nav-item">
          <a href="javascript:;">社区</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">发帖</a></dd>
            <dd><a href="javascript:;">闲逛</a></dd>
          </dl>
        </li>

        <!-- 可以增加内容 -->
        <!-- <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li> -->
        <!-- <li class="layui-nav-item"><a href="">the links</a></li> -->
      </ul>
    </div>
  </div>
  
  
  <!-- 内容 -->
  <div class="layui-body">
  <!-- app -->
  <div  style="padding: 15px;" class="row" onsubmit="return dosubmit()"></div>
        
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    底部固定区域
  </div>
</div>

</body>
<script>
//控制弹出层
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;
  
  //头部事件
  util.event('lay-header-event', {
    //左侧菜单事件
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    }
    ,menuRight: function(){
      layer.open({
        type: 1
        ,content: '<div style="padding: 15px;">可以放一些用户信息、或是缩小后的操作功能</div>'
        ,area: ['260px', '100%']
        ,offset: 'rt' //右上角
        ,anim: 5
        ,shadeClose: true
      });
    }
  });
});

   //跟随页面修改字体大小
   function placeholderPic(){
        var w = document.documentElement.offsetWidth;
        document.documentElement.style.fontSize=w/40+'px';
    }
    placeholderPic();
    window.onresize=function(){
        placeholderPic();
    }


//获取数据
send()

function send() {
  $.get("http://127.0.0.1:8080/do/page1",function(data,status){

    page()
    countPart() 

    //点击获取全部内容
    $("#whole").click(function() {page()})

    //点击获取游戏分类
    $("#game").click(function() {htmlPage("游戏")})

    //点击获取创意分类
    $("#originality").click(function() {htmlPage("创意")})

    //点击获取世界分类
    $("#word").click(function() {htmlPage("世界")})

    //点击获取沙雕分类
    $("#sb").click(function() {htmlPage("沙雕")})

    //点击获取人工智能分类
    $("#robot").click(function() {htmlPage("人工智能")})

    //导航栏+计数
    function countPart() {
      var game = 0
      var orijginality = 0
      var word = 0
      var sb = 0
      var robot = 0

      for(i in data["data"]){
        if(data["data"][i]["Category"]==" 游戏"){game += 1}
        if(data["data"][i]["Category"]==" 创意"){orijginality +=1}
        if(data["data"][i]["Category"]==" 世界"){word +=1}
        if(data["data"][i]["Category"]==" 沙雕"){sb +=1}
        if(data["data"][i]["Category"]==" 人工智能"){robot +=1}
      }

      //统计类别数量
      count = `<dd><a id="whole" href="javascript:;">全部(`+(game+word+orijginality+sb+robot)+`)</a></dd>
              <dd><a id="game" href="javascript:;">游戏(`+game+`)</a></dd>
              <dd><a id="originality" href="javascript:;">创意(`+orijginality+`)</a></dd>
              <dd><a id="word" href="javascript:;">世界(`+word+`)</a></dd>
              <dd><a id="sb" href="javascript:;">沙雕(`+sb+`)</a></dd>
              <dd><a id="robot" href="javascript:;">人工智能(`+robot+`)</a></dd>`

      $("#PageClass").html(count)
    }


    //主页内容
    function page() {
      var html = ""
      for(i in data["data"]){
        html += `<div id="item" class="col-xs-6 col-md-4" >
                <img id="imgs" src="`
                +data["data"][i]["logo"]+
                `" alt="WX20210316-120917@2x_gaitubao_119x119 _1_.png">
                <div id="name">
                <a id="addr" href="`
                +data["data"][i]["Addr"]+
                `">`
                +data["data"][i]["appname"]+`<div class="glyphicon glyphicon-share-alt"></div>
                </a></div>
                <div id="explain"><p id="Explain" >`
                +data["data"][i]["Exp"]+
                `</p></div><b><div id="category" class="cg">`
                +data["data"][i]["Category"]+
                `</div></b></div>`
        }
      $(".row").html(html);
      modify_color()
    }

  //点击分类获取数据                                                                     
    function htmlPage(index){
      var html = ""
      for(i in data["data"]){
        if(data["data"][i]["Category"]==" "+index){
            html += `<div id="item"  class="col-xs-6 col-md-4" >
                    <img id="imgs" src="`
                    +data["data"][i]["logo"]+ 
                    `" alt="WX20210316-120917@2x_gaitubao_119x119 _1_.png">
                    <div id="name">
                    <a id="addr" href="`
                    +data["data"][i]["Addr"]+
                    `">`
                    +data["data"][i]["appname"]+`<div class="glyphicon glyphicon-share-alt"></div>
                    </a></div>
                    <div id="explain"><p id="Explain" >`
                    +data["data"][i]["Exp"]+
                    `</p></div><b><div id="category" class="cg">`
                    +data["data"][i]["Category"]+
                    `</div></b></div>`
        }
      }
      $(".row").html(html);
      modify_color()
    }
  })
}


    //修改分类颜色
function modify_color(){

  var aDiv=document.getElementsByClassName("cg");
  var arr=new Array();

  for(var j=0;j<aDiv.length;j++){
    // console.log("进入循环",aDiv[j].innerHTML)
    arr[j]=aDiv[j].innerHTML;
    if(arr[j]==" 游戏"){aDiv[j].style.background="rgb(16, 227, 235)";}

    if(arr[j]==" 创意"){aDiv[j].style.background="rgb(255, 197, 36)";}

    if(arr[j]==" 世界"){aDiv[j].style.background="rgb(33, 93, 221)";}

    if(arr[j]==" 沙雕"){aDiv[j].style.background="rgb(22, 255, 168)";}

    if(arr[j]==" 人工智能"){aDiv[j].style.background="rgb(241, 93, 8)";}
  }
}



</script>
</html>
{{end}}